body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor */
.login-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 0px 10px gray;
}

/* Título */
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Inputs */
.login-container input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid gray;
    border-radius: 5px;
}

/* Botón */
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0056b3;
}

/* Texto registro */
.registro {
    text-align: center;
    margin-top: 10px;
}